.PageSideMenu
{
    width: 250px;
    /* height: 85vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    top: 120px;
    border-radius: 7px;
    left: 120px;
    height: fit-content;
    /* padding: 30px; */
}

.PageSideMenu__titleContainer
{
    cursor: pointer;
    transition: 300ms;
    display: flex;
    padding: 20px;
    text-decoration: none;
    align-items: center;
}
.PageSideMenu__titleContainer:hover
{
    background-color: #f9f9f9;
    transition: 300ms;
}
/* .PageSideMenu__titleContainer svg
{
    display: none;
} */

/* .PageSideMenu__titleContainer:hover
{
    background-color: #f9f9f9;
    transition: 300ms;
} */

.PageSideMenu__titleContainer-desc
{
    font-size: 10px;
    margin: 5px 0px 0px;
}
.PageSideMenu__Content
{
    width: 100%;
    padding: 20px;
}
.PagesContainer__title
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px;
    align-items: center;
}
.PagesContainer__title button
{
    cursor: pointer;
}


.PageContainer__list
{
    width: 100%;
    min-height:fit-content;
    height: fit-content;
}