/* for modal */
@keyframes modalAppear {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Для улучшения UX при перетаскивании */
/* * {
  -webkit-user-select: none;
  user-select: none;
} */

.modal-dragging {
  opacity: 0.9;
  box-shadow: 0 25px 80px rgba(0, 0, 0, 0.4) !important;
}